#For Docker based system use below statement or else hide this using #
allow_anonymous true

listener 1883
listener 8883
# cafile /workspaces/test/mqtt_server/certs/ca.crt
# certfile /workspaces/test/mqtt_server/certs/server.crt
# keyfile /workspaces/test/mqtt_server/certs/server.key
cafile %WORKSPACE_FOLDER%/certs/ca.crt
certfile %WORKSPACE_FOLDER%/certs/server.crt
keyfile %WORKSPACE_FOLDER%/certs/server.key
require_certificate true
tls_version tlsv1.2
